.pcoa-dropdown {
	font-family:  Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 400px;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	background-color: #fff;
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.pcoa-dropdown:hover {
	border-color: #888888;
}

.pcoa-dropdown:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	color: #222;
	outline: none;
}

.pcoa-dropdown-outer-container {
	width: 50%;
	min-width: 800px;
}

.pcoa-dropdown-inner-container {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.pcoa-dropdown-content-container {
	display: inline-block;
	width: 80%;
}

.pcoa-dropdown-label-container {
	display: inline-block;
	width: 20%;
	min-width: 150px;
	margin: auto;
}

.pcoa-dropdown-label {
	text-align: center;
	font-family: arial;
	font-weight: bold;
	font-size: 18px;
}