python-dotenv==0.14.0 # to read in from .env file
luigi==2.8.11
plotnine==0.7.0
#rpy2==3.3.5
celery==5.1.2
flask==2.2.5
flask-cors
flask-socketio==4.3.1
python-socketio>=4.3.0,<5
dnspython==1.16.0
eventlet==0.31.0
gdown==4.6.4 # to wget from Google drive
