/*
.site-wrapper {
	min-width: 1200px;
	text-align: center;
	font-family: Arial;
}

.main-content {
	margin: 0 calc(max(20%, 200px));
	min-height: 700px;
	min-width: 800px;
}

.sidebar {
	position:	absolute;
	width: 20%;
	min-width: 200px;
	display: flex;
	flex-direction: column;
}
*/
.site-wrapper {
	min-width: 1200px;
	text-align: center;
	font-family: Arial;
}

.axiome3-main-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.axiome3-main-container {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.main-content {
	min-height: 700px;
	flex: 0 0 70%;
	min-width: 800px;
}

.sidebar-left {
	display: flex;
	flex-direction: column;
	flex: 0 0 15%;
	min-width: 200px;
	position: relative;
}

.sidebar-right {
	display: flex;
	flex-direction: column;
	flex: 0 0 150px;
}

.site-header {
	
}

.site-footer {
	background-color: #303030;
	overflow: auto;
	color: white;
	margin-top: 20px;
}

.footer-block {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 10px 10px 10px 10px;
	margin-top: 20px;
}

.footer-block p {
	padding-left: 10px;
	margin-top: 10px;
}

.main-submit-container {
	display: flex;
	margin-top: 20px;
	margin-bottom: 10px;
	align-items: center;
	justify-content: space-around;
}

.main-tab-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.clickable {
	text-decoration: underline;
}

.clickable:hover {
	cursor: pointer;
	color: #FF00FF;
}

.clickable:active {
	cursor: pointer;
	color: #FF0000 ;
}