.filebrowse-outer {
	display: flex;
	align-items: center;
	flex-direction: column;
	border: solid;
	overflow-y: scroll;
	height: 600px;
}

.filebrowse-inner {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	padding-bottom: 15px;
	text-align: left;
}
.filebrowse-main-container {
	width: 100%;
	align-items: center;
	position: absolute;
	top: 500px;
}

.filebrowse-display-container {
	width: 80%;
	display: flex;
	align-items: center;
}

.filebrowse-checkbox {
	width: 20%;
	text-align: center;
}

.filebrowse-header {
	text-overflow: ellipsis;
	overflow: hidden;
	direction: rtl;
	padding-left: 5px;
}

.filebrowse-header-container {
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0;
	text-align: left;
	border: solid;
}

.filebrowse-icon {
	padding-right: 5px;
	padding-left: 5px;
}

.filebrowse-text {
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 25px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}