.option-container {
	width: 100%;
	margin-top: 80px;
}

.summary.text {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 18px;
}

.option-detail-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.option-detail-item-container {
	margin-bottom: 20px;
	width: 100%;
	align-items: center;
}

.option-label-help-outer {
	display: flex;
	align-items: center;
	min-width: 150px;
}

.option-label {
	font-weight: bold;
	font-family: arial;
	margin-right: 10px;
	width: 100px;
}

.option-input-container {
	margin-left: 20px;
	margin-right: 30px;
}