.file-progressbar-wrapper {
	margin: 50px auto;
	width: 800px;
	display: grid;
	grid-template-columns: calc(100% - 50px) 50px;
}

.file-progressbar-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.file-progressbar {
	width: 700px;
	height: 20px;
	background-color: white;
	border-radius: 50px;
	border: 2px solid #333;
}

.file-progressbar-filler {
	background-color: #4DFF4D;
	border-radius: 50px;
	height: 20px;
}

.file-progressbar-label {
	margin-right: 10px;
}

.worker-wrapper {
	margin-top: 20px;
}

.worker-status-header-container {
	text-align: left;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.worker-status-header {
	font-weight: bold;
	font-size: 18px;
	margin: 0;
	text-decoration: underline;
	display: inline-block;
}

.worker-status {
	display: inline-block;
	margin-left: 8px;
	font-size: 18px;
}

.worker-message-container {
	text-align: left;
	margin-left: 10px;
}

.worker-message {
	margin: 0;
	font-size: 16px;
}