/* 
Defines general styling rules for Report component
*/

.report-main-container {
	font-family: arial;
}

.report-section {
	margin-bottom: 30px;
}

.report-content {
	padding-left: 10px;
}

.section-header {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 10px;
}

.section-description {
	font-size: 18px;
	margin-left: 5px;
}

.download-container {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.hidden {
	display: none;
}