.image-preview-wrapper {
	display: flex;
	width: 100%;
}

.image-preview-image {
	max-width: 60%;
	max-height: 500px;
}

.image-preview-download-container {
	text-align: left;
}

.preview-download-container {
	margin-top: 10px;
	margin-bottom: 10px;
}